default_language_version:
  python: python3.10

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-ast
  - id: check-case-conflict
  - id: check-executables-have-shebangs
  - id: check-json
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-symlinks
  - id: check-toml
  - id: check-xml
    exclude: '.*\.svg$'
  - id: check-yaml
  - id: end-of-file-fixer
  - id: fix-byte-order-marker
  - id: mixed-line-ending
    args: ["--fix=lf"]
  - id: pretty-format-json
    exclude: 'package(-lock).json'
    args: ["--autofix"]
  - id: trailing-whitespace

- repo: https://github.com/hadialqattan/pycln
  rev: v2.1.7
  hooks:
  - id: pycln
    args: ["--config=pyproject.toml"]

- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort

- repo: https://github.com/psf/black
  rev: 23.7.0
  hooks:
  - id: black

- repo: https://github.com/pycqa/flake8
  rev: 6.1.0
  hooks:
  - id: flake8
    args:
    - "--max-line-length=88"
    - "--extend-ignore=E203,E501"
