[tool.isort]
profile = "black"
src_paths = ["ninja_crud", "tests", "examples"]

[tool.pycln]
all = true

[tool.poetry]
name = "django-ninja-crud"
version = "0.1.2"
description = "Django Ninja CRUD is a library that allows you to create CRUD APIs in a few lines of code."
authors = ["Hicham Bakri <hicham.bakri76@gmail.com>"]
maintainers = ["Hicham Bakri <hicham.bakri76@gmail.com>"]
readme = "README.md"
homepage = "https://github.com/hbakri/django-ninja-crud"
license = "MIT"
classifiers = [
    "Intended Audience :: Information Technology",
    "Intended Audience :: System Administrators",
    "Operating System :: OS Independent",
    "Development Status :: 3 - Alpha",
    "Topic :: Internet",
    "Topic :: Software Development :: Libraries :: Application Frameworks",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development :: Testing",
    "Topic :: Software Development",
    "Typing :: Typed",
    "Environment :: Web Environment",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
    "Framework :: Django",
    "Framework :: AsyncIO",
    "Topic :: Internet :: WWW/HTTP :: HTTP Servers",
    "Topic :: Internet :: WWW/HTTP",
]
packages = [{ include = "ninja_crud" },]

[tool.poetry.dependencies]
python = ">= 3.7"
Django = ">= 3.0"
django-ninja = ">= 0.21"

[tool.poetry.group.dev.dependencies]
coverage = "^6.5.0"
pre-commit = "^2.20.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
